<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.treelzebub.zinepress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ZinePressApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".db.zines.ZineContentProvider"
            android:authorities="@string/authority_zines"
            android:exported="false"
            android:label="@string/app_name" />

        <provider
            android:name=".db.articles.ArticleContentProvider"
            android:authorities="@string/authority_articles"
            android:exported="false"
            android:label="@string/app_name" />

        <provider
            android:name=".db.books.BookContentProvider"
            android:authorities="@string/authority_books"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data
                    android:host="zinepress.treelzebub.net"
                    android:scheme="oauth" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
